@font-face {
  font-family: 'PT Sans Regular';
  src: url('fonts/PTSans-Regular.woff'),
  src: url('fonts/ptsans-400.woff2');

  /* url('fonts/PTSans-Regular.woff') format('woff'),
  url('fonts/PTSans-Bold.woff') format('woff'); */
  font-weight: 400;
  font-style: normal;
  }
@font-face {
  font-family: 'PT Sans Bold';

  src: url('fonts/PTSans-Bold.woff');
  /* url('fonts/PTSans-Regular.woff') format('woff'),
  url('fonts/PTSans-Bold.woff') format('woff'); */
  font-weight: 700;
  font-style: normal;
  }
html {
  height: 100%;
  font-size: 100%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
  height: 100%;
  font-family: 'PT Sans ', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0px;
  /* margin-left: auto;
  margin-right: auto; */
}
.image__img {
  max-width: 100%;
}
.title {
  /* border-left: 20px solid #e2e2e2; */
  /* margin-left: auto;
  margin-right: auto; */
  color: black;
  text-align: center;
  font-weight: 400;
}
a, ul, li {
  list-style-type: none;
  text-decoration: none;
  /* font-family: 'PT Sans Regular'; */
  font-weight: 400;
  font-size: 1rem;
  color: black;
}
h1 {
  font-weight: 400;
}
.navigation {
  min-height: 60px;
  padding: 10px;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 100px 500px 600px;
  column-gap: 0px;
}
@media (max-width: 700px) {
  .navigation  {

    display: grid;
    grid-template-columns: repeat(1, 300px);

    gap: 0px;
  }
}

.grid-h {
  display: grid;
  grid-template-columns: 1fr 400px 400px ;
  column-gap: 0px;
}
@media (max-width: 700px) {
  .grid-h {

    display: grid;
    grid-template-columns: repeat(1, 400px);

    gap: 0px;
  }
}

.container-hero {
  max-width: 1200px;
  margin: 0 auto;
}
.grid {

  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 400px)) ;
  grid-template-rows: repeat(4, 384px);
  gap: 0px;
}


.grid > div:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 2;
}
.grid > div:nth-child(2){
  grid-column-start: 2;
  grid-column-end: -1;
}
.grid > div:nth-child(6){
  grid-column-start: 1;
  grid-column-end: 3;
}
@media (max-width: 1000px) {
  .grid {

    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(6, 384px);
    gap: 0px;
  }
  .grid > div:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

  }

  .card6{
    grid-column-start: 1;
    grid-column-end: 3;
  }

}
@media (max-width: 400px) {
  .grid {

    display: grid;
    grid-template-columns: repeat(1, 400px);
    /* grid-template-rows: repeat(6, 384px); */
    gap: 0px;
  }


}
.grid-hero_2 {
  min-height: 350px;
  display: grid;
  grid-template-columns: repeat(4, 200px ) ;
  column-gap: 50px;
  color: white;
  padding-top: 50px;
  margin-left: 50px;
  font-weight: 400;
}
@media (max-width: 700px) {
  .grid-hero_2 {
    column-gap: 50px;
    display: grid;
    grid-template-columns: repeat(2, 200px);


  }
}
@media (max-width: 500px) {
  .grid-hero_2 {
    column-gap: 50px;
    display: grid;
    grid-template-columns: repeat(1, 200px);


  }
}
.navigation-item {
  /* border: 2px solid maroon; */
  margin: 0px;
  padding: 5px;

}
.navigation-list {
  margin-left: 10px;
  margin-top: 10px;
  padding-bottom: 00px;
  /* border: 1px solid green; */
 height: 2rem;

}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
   align-items: center;
}
.flex-container-icon {
  margin-top: 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: fcenter;
}
.navigation-item {

  padding: 2px;
  margin: 2px;

}
.navigation-link {
  width: 100px;
  margin: 0px;
  padding: 5px;
  /* background-color: tomato; */
  display: block;
  font-weight: 700;
}
.navigation-logo {
 width: 155px;
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 0px;

  padding: 0;
}
.list-item {
  margin-right: 0px;
  /* border: 1px solid black; */
}
.list-icon {
 /* min-width: 300px; */
  margin-left: 50px;
  margin-bottom: 5px;

}
.hero {
  display: block;
  margin-top: 10px;
  height: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

}
.grey {
  color: grey;
}
.dummy {
  height: 2rem;
}
.flex-img {
  display: flex;
}

* {
  margin: 0; /*Сбрасываем настройки браузера*/
}

.wrap {
  position:fixed; /*Отсоединяем контейнер от страницы и фиксируем в окне браузера*/
  width: 100%;   /*Ширина на все окно браузера*/
  min-height: 100%;  /*Высота на все окно браузера*/
  /* background-color: pink; */
  display: flex; /*Превращаем контейнер в flexBox*/
  flex-direction: column; /*Расставляем дочерние элементы по вертикали*/
}

.header{
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-height: 60px;
  /* background-color: burlywood; */
  flex-grow: 0; /*Запрещаем увеличиваться*/
  flex-shrink: 0; /*Запрещаем сжиматься*/
  flex-basis: auto;
}

.content {
    flex: 1 1 auto;
    /* background-color: aliceblue; */
    overflow-y:auto; /*Вертикальная полоса прокрутки для текста*/
    padding: 0px; /*отступы текста со всех сторон*/
    text-align: justify; /*выравнивание текста по левому и правому краям*/
    /* flex-grow: 1; Предписываем занять все свободное пространство */
}

.footer {
  height: 120px;
  /* background-color: cadetblue; */
  /* flex-grow: 1; Запрещаем увеличиваться */
  flex-shrink: 0; /*Запрещаем сжиматься*/
  flex-basis: auto;
}
.mt-5 {
  margin-top: 5px;
}
.newsletter-content {
  min-height: 411px;
	background-image: url("./../img/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}
.newsletter-content02 {
 min-height: 485px;


}
.newsletter-content-h {
 min-height: 485px;
 margin-top: -20px;

	background-image: url("./../img/background-holels.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}
.wrap {
  width: 1050px;
  height: 200px;
}
.white {
  padding-top: 150px;
  color: whitesmoke;
  font-size: 2rem;
  text-transform: uppercase;
  z-index: 1;
}
.black {
  padding-top: 150px;
  color: black;
  font-size: 2rem;
  text-transform: uppercase;
  z-index: 1;
}
.white-h {
  padding-top: 50px;
  padding-left: 40px;
  color: whitesmoke;
  font-size: 3.5rem;
  font-weight: 700;

  z-index: 1;
}
.white-p {
  margin-top: 10px;
  color: whitesmoke;
  font-size: 1.1rem;

}
.white-min {
  margin-top: 1rem;
  padding: 5px;
  color: whitesmoke;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;

}
.subscribe-form__field {
  margin-top: 40px;
  margin-right: -6px;
  width: 620px;
  height: 55px;
  border:  2px 0 0 2px;



}
.btn .btn-reset .subscribe-form__btn {
  color: white;
}

.subscribe-form__btn {
  height: 55px;
  width: 180px;
  color: white;
  background-color: #82b3d3;
  border-radius: 0 2px 2px 0px;
  border: none;

}
.search__btn {
  height: 55px;
  width: 560px;
  color: white;
  background-color: #756157;
  border-radius: 2px;
  border: none;
  margin-bottom: 100px;
}
.grid-footer {
  display: grid;
  grid-template-columns: 195px  1fr 195px;
  column-gap: 0px;
}
@media (max-width: 700px) {
  .grid-footer {

    display: grid;
    grid-template-columns: repeat(1, 300px);
    /* grid-template-rows: repeat(6, 384px); */
    gap: 0px;
    font-size: 1rem;
  }
}

.flex-container-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
   align-items: center;
}
@media (max-width: 700px) {
  .flex-container-social, h1 {

    display: grid;
    grid-template-columns: repeat(1, 300px);
    /* grid-template-rows: repeat(6, 384px); */
    gap: 0px;
    font-size: 2rem;
  }
}
@media (max-width: 700px) {
  button, .search__btn {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-bottom: 0;
    width: 300px;
  }
}
.logo_h {
  margin-top: 20px;
}
.pg {
  /* position: relative; */
  height: 417px;
  max-width: 1200px;
}
.pg-wr {
  margin: 0 auto;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate (-50% -50%);
}
.title-pg {
  margin-top: 200px;
  margin-bottom: 50px;
  text-align: center;
}
.title-h {
  padding-top: 80px;
  padding-left: 40px;
  font-weight: 700;


}
.select-h {
  padding-top: 80px;
  padding-left: 40px;
  font-weight: 400;


}
.button-h {
  padding-top: 90px;
  padding-left: 40px;
  font-weight: 400;


}
.select-hc {
  margin-top: 18px;
 width: 250px;
 height: 40px;
 border: 1px solid grey;
 border-radius: 2px;


}
.select-hc02 {
  margin-bottom: 3rem;
 width: 150px;
 height: 40px;
 border: 1px solid grey;
 border-radius: 2px;


}
.min {

  font-size: 0.9rem;
  font-weight: 400;
}
.min-checkbox {

  padding-top: 10px;
  margin-left: 5px;
  font-size: 0.9rem;
  font-weight: 700;
}
.ch {
  margin-top: 10px;
  margin-left: -5px;
}
.option {
  margin-top: 10px;
  display: block;
  margin-bottom: 0 rem;
  height: 20px;
}
/* ************************************************************ */


html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
	margin: 0;
	padding: 0;
  list-style-type: none;
}

.dummy02 {
  height: 2rem;
}
/* @font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/NotoSansRegular.woff2') format('woff2');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/NotoSansSemiBold.woff2') format('woff2');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
} */

:root {
	--color-dark: #4d4d4d;
	--color-light: #808080;
	--color-accent: #5d71dd;
}

a {
	text-decoration: none;
	color: inherit;
}



.product {
	width: 300px; /* для удобства */
	min-height: 500px;
	border: 0px solid #d9d9d9;

	padding:0px;
	margin-top: 50px;
	font-size: 14px;
	background-color: #fff;
}

.product__image {
	position: relative;
	overflow: hidden;
	display: block;
	/* height: 211px; */
  width: 300px;
}

.image-switch {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
	display: flex;
}

.image-switch__item {
	flex-grow: 1;
	cursor: pointer;
}

.image-switch__img {
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	transform: translateX(-50%);
	pointer-events: none;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
}

.image-switch__img img {
	display: block;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-switch__item:first-child .image-switch__img {
	opacity: 1;
	z-index: -1;
}

.image-switch__item:hover .image-switch__img {
	opacity: 1;
	z-index: -1;
}

.image-pagination {
	position: absolute;
	z-index: 30;
	left: 0;
	bottom: 15px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.image-pagination__item {
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 100%;
	margin: 0 3px;
	background-color: #c4c4c4;
}

.image-pagination__item--active {
	background-color: var(--color-accent);
}

/* .product__title {
	margin-bottom: 8px;

	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: var(--color-dark);
} */

.product__props {
	display: grid;
  grid-template-columns: 150px 150px  ;
  grid-template-rows: 50px 50px 50px  ;
  gap: 5px;



	align-items: center;

  margin-bottom: 0px;

	font-weight: 400;
	font-size: 14px;

}

.product__rating {
	margin-right: 10px;
	display: inline-flex;
	align-items: center;
	color: var(--color-accent);
	font-weight: 600;
}

.product__rating svg {
	fill: currentColor;
	margin-right: 8px;
}

.product__testimonials {
	color: var(--color-light);
}

.product__info {
	margin-bottom: 17px;
	font-size: 12px;
	color: var(--color-light);
}

.product__term {
	display: block;
	margin-bottom: 7px;
}

.product__available {
	display: block;
}

.product-price {
	margin-bottom: 17px;
	display: flex;
	align-items: center;
}

.product-price__current {
	margin-right: 12px;
	font-size: 24px;
	color: var(--color-dark)
}

.product-price__old {
	font-size: 12px;
	color: var(--color-light);
	text-decoration: line-through;
}

.product__btn {
	border: none;
	padding: 14px 0;
	border-radius: 2px;
	width: 140px;
	color: #fff;

	background-color: grey;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}
.p__btn {
	border: none;
	padding: 14px 0;
	border-radius: 2px;
	width: 140px;
	color: #fff;

	background-color: brown;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}
.i__btn {
	border: none;
	padding: 14px 0;
	border-radius: 2px;
	width: 140px;
	color: #fff;

	background-color: rgb(130, 179, 211);
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}
.range-btn {
	border: none;
	padding: 30px 0;
	border-radius: 2px;
	width: 300px;
	color: #fff;
  font-weight: 700;
	background-color: #82b3d3;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}
.range-btn-s {
	border: none;
	padding: 30px 0;
	border-radius: 2px;
	width: 300px;
	color: #fff;
  font-weight: 700;
	background-color: transparent;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}
.i__btn-popup {
  margin-top: 2rem;
  margin-left: 0rem;
  font-weight: 700;
	border: none;
	padding: 14px 0;
	border-radius: 4px;
	/* width: 20rem;!important; */
	width: 100%;
	color: #fff;

	background-color: #82b3d3;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.product__btn:hover {
	/* background-color: #6078f1; */
  background-color: lightgrey;

	transition: background-color 0.3s ease-in-out;
}
.p__btn:hover {
	/* background-color: #6078f1; */
  background-color: maroon;

	transition: background-color 0.3s ease-in-out;
}
.i__btn:hover {
	/* background-color: #6078f1; */
  background-color: lightblue;

	transition: background-color 0.3s ease-in-out;
}
.active {
  background-color: green;
}

:root {
	--gutter: 10px;
}

.container {

	width: 1200px;
	/* height: 1000px; */
	padding: 0 0px;
	margin: 0 auto;
}
.product-content {
	width: 1056px;
	height: 876px;
	padding: 0 0px;
	margin: 0 auto;
}

.grid-container {
	max-width: 1200px;
  margin: 0 auto;
	display: grid;
	grid-gap: 0px;
	grid-template-columns:  repeat(3, 400px);
	grid-template-rows:  repeat(2, 1fr);
}
@media (max-width: 1000px) {
  .grid-container {

    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(4, 1fr);
    gap: 0px;
  }

}
@media (max-width: 700px) {
  .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0px;
    margin-left: 10px;
  }

}


.products-grid {
	grid-column: 3 span;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(3, 1fr);
}

.filters {
	position: relative;
}

.filters-price__input {
	width: 100%;
}

.fixed {
	position: fixed;
	top: var(--gutter);
	left: 0;
}

.absolute {
	position: absolute;
	bottom: 0;
	left: 0;
}

.height {
	height: 500px;
}
/* пагинация */
.pagination {
  display: inline-block;
}
/* .pagination > .active {
  color: black;
  background-color: lightgrey;
  border: 0px solid grey;
} */
.pagination a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 0px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: lightgrey;
  color: black;
  border: 0px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.box {
  margin-top: 2rem;
  height: 2.5rem;
  width: 10rem;
  border: 1px solid white;
  border-radius: 2px;
  background-color: transparent;
  padding: 10px;

}
.r2 {
  margin-top: 2rem;
  color: white;
  border: 0px solid #4CAF50;
}
.pag-a {
  color: white;
  border-radius: 2px;
  background-color: #82b3d3;
}
.pagination-container {
  width: 100%;
	display: grid;
	grid-gap: 0px;
	grid-template-columns:  repeat(2, 1fr);



}
.pagination-info {
  text-align: right;
}
/*popup****************************************  */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.9);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.popup:target {

  opacity: 1;
  visibility: visible;
}
.popup__body {
  height: 100%;

  display: flex;
  padding: 0px 0px;
  align-items: center;
  justify-content: center;
  transition: all 0.8s ease 0s;
}
.popup-area {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.2);
  top: 0;
  left: 0;
}
.popup__content {
  height: 430px;
  width: 510px;
  background-color: white;
  color: black;

  padding: 5px;
  border-radius: 20px;
  z-index: 1;


}
.popup__close {
  margin-left: 6rem;
}
.popup__title {
 margin-top: 3rem;

 margin-left: 2rem;
 text-align: left;
 font-weight: 700;

}
.popup__text {
  margin-top: 2rem;
  padding: 20px;
  height: 200px;
  width: 500px;
  /* background-color: whitesmoke; */
  text-align: center;
  font-weight: 700;
}
/*popup****************************************  */
.colortext {
  background-color: lightgrey; /* Цвет фона */
  color: #black; /* Цвет текста */
 }
#uname{
  height: 3rem;
  width: 20rem;
  padding: 5px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
}
.item-title {
  font-size: 1.5rem;
  font-weight: 500;
font-family: 'Merriweather', serif;
height: 70px;
}

.details-wrapper {
display: flex;
justify-content: space-around;
align-items: center;
/* margin-bottom: 25px; */
width: 330px;

/* margin-top: 0 auto; */
margin-left: auto;
margin-right: auto;
}

.items {
/* font-family: 'Merriweather', serif; */
/* background: #f2ede7; */
border-radius: 2px;
width: 130px;
display: flex;
font-size: 18px;
height: 30px;
overflow: hidden;
}

.items__control, .items__current {
  background-color: #f2ede7;
/* width: 50px;
height: 50px */
cursor: pointer;
transition: 0.2s ease-in;
/* align-items: center;
vertical-align: middle; */

color: black;
/* float: left; */
padding: 4px 12px 0px 12px;
text-decoration: none;
transition: background-color .3s;
border: 0px solid #ddd;
margin: 0 0px;
}

.items__control:hover {
  background: #eb5a1e;
  color: #FFF;
}

/* .items__current {
  background: #f2ede7;
width: 40px;
} */
#floatTip {
  position: absolute; /* Абсолютное позиционирование */
  width: 250px; /* Ширина блока */
  display: none; /* Прячем от показа */
  border: 1px solid #000; /* Параметры рамки */
  padding: 4px; /* Поля вокруг  текста */
  font-family: sans-serif; /* Рубленый шрифт */
  font-size: 9pt; /* Размер  шрифта */
  color: #ffffff; /* Цвет текста */
  background: #333333; /* Цвет фона */
}
title {
  height: 110px;
  width: 216px;
}
.tooltip-custom {
  position: absolute;
  z-index: 999;
  /* left: -9999px; */
  color: #ffffff; /* Цвет текста */
  background-color: #333333;
  padding: 7px 10px;
  border: 1px solid blue;
  border-radius: 5px;
  height: 110px;
  width: 216px;
}
/* tool-tip-1 */



.button {
  position: relative;
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
	width: 30px;
	height: 30px;
}


 .tooltip-2 .tooltip-2-text {
	position: absolute;
	left: 50%;
	top: calc(100% + 5px);
	background-color: #333;
	padding: 10px;
	border-radius: 10px;
	color: #fff;
	transform: translateX(-50%);
	opacity: 0;
	visibility: hidden;
  height: 110px;
	width: 250px;
  font-weight: 400;
  font-size: 1rem;
}

.tooltip-2:hover + .tooltip-text,
.tooltip-2:focus + .tooltip-text {
	opacity: 1;
	visibility: visible;

}
.tooltip-2::after {


	 content: attr(data-text);
	position: absolute;
	left: 50%;
	top: calc(100% + 5px);
	background-color: #333;
	padding: 10px;
	border-radius: 10px;
	color: #fff;
	transform: translateX(-50%);
	opacity: 0;
	visibility: hidden;

}
.tooltip-2:hover::after {
  opacity: 1;
	visibility: visible;
}
.tooltip-2::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 7.5px 10px 7.5px;
	border-color: transparent transparent #333 transparent;
	transform: translateX(-50%);
	opacity: 0;

	visibility: hidden;

}
/*tooltip-2  */


/* .tooltip-2-text {

	opacity: 0;
	visibility: hidden;
} */

#button-2:hover + .tooltip-2-text {
	opacity: 1;
	visibility: visible;
}

/* .visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0)
} */
.grid-form {

	display: grid;
  width: 100%;

	row-gap: 10px;
	grid-template-columns:  2fr 5fr;
  align-items: center;
  justify-items: start;
}
.form {
  margin-bottom: 1rem;
}
